<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neutron Resonance Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div style="color:#0000FF">
    <h1>ImagingReso</h1>
    <hr>
</div>

<form method=post action="">
    <div>
        <h2>Sample info:</h2><br>
    </div>
    {% for field in sample_form %}
        <dd>{{ field.label }} {{ field|safe }}
            {% if field.errors %}
                <ul class=errors>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}</ul>
            {% endif %}</dd>
    {% endfor %}
    <br>
    <input type=submit value=Submit>
</form>

{% if total_trans != None %}
    <hr>
    <p>Sample transmission at CG-1D:</p>
    <p>{{ total_trans }} %</p>
{% endif %}

{% if stack != None %}
    <hr>
    <p>Sample stack info:</p>
    <p>{{ stack }}</p>
{% endif %}

</body>
</html>